*{
 margin:  0 ;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
/* banner -----------------------------------------------------*/
.banner{
   
    color: rgb(252, 252, 252);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: slategray;
}

.banner-info{
text-align: center;
}


.banner-info img{
    width: 300px;
    border-radius: 100%;
}
/* card------------------ */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    
  }
  
  .card:hover {
    box-shadow: 0 0px 50px 0 rgba(0,0,0,0.2);
  }
  
  .container-card {
    padding: 2px 16px;
  }

  .container-item{
    padding: 20px;
    display: flex;
  }